.Popup{
    position: fixed;
    bottom: 20%; 
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    transition: transform 0.3s linear;
}

.poza{
    position: relative;
    left: 50px;
    width: 150px;
    height: 150px;
}
